<ion-view view-title="Patient Check-In">
    <ion-content>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">First Name</span>
                <input type="text" placeholder="John"
                       ng-model="CheckInVM.patientInfo.firstName">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Last Name</span>
                <input type="text" placeholder="Suhr"
                       ng-model="CheckInVM.patientInfo.lastName">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Date of Birth</span>
                <input type="date"
                       ng-model="CheckInVM.patientInfo.dob">
            </label>

            <button class="button button-full button-balanced"
                    ng-click="CheckInVM.continue()">
                Continue and Take Photo
            </button>

        </div>
    </ion-content>
</ion-view>